* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "Roboto", sans-serif;
}
.Logo{
    width: 125px;
    height: auto;
    background-color: #1E984F;
}
.Social{
    background-color: #1E984F;
    width: 28px;
}
.links{
    background-color: #00000000;
    text-decoration: none;
    color: #fff;
    font-size: larger;
}
.LinkD{
    background-color: #00000000;
    color: #fff;
    text-decoration: none;
}

